body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
}

/*header*/
header {
    text-align: center;
    color: #f2f2f2;
    padding: 20px 0;
}

/* nav */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #333333;
    padding: 10px 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: white;
}

/* project */
.project { 
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px 0;
}

/* footer */
.footer {
    text-align: center;
    background-color: #333333;
    color: white;
    padding: 10px 0;
}