body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
    background-color: #0beed7;
}

/*header*/
header {
    text-align: center;
    color: #18350d;
    background-color: #0beed7;
    padding: 20px 0;
}

/* nav */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #18350d;
    padding: 10px 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #0beed7;
}

.container {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
}

/* project */
.project { 
    border: 1px solid #0beed7;
    padding: 20px;
    margin: 20px 0;
}

/* footer */
.footer {
    text-align: center;
    background-color: #18350d;
    color: #0beed7;
    padding: 10px 0;
}